<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="__assets/main.css">
  <script src="__assets/libs.js"></script>
  <script src="__assets/main.js"></script>
  <% if(locals.favicon) { %><link rel="shortcut icon" href="__assets/<%= favicon %>"><% } %>
  <title><%= title %></title>
</head>
<body>
<div id="container">
  <div class="docs docs-full transformer">
    <span class="ctrl ctrl-nav transformer" >☰</span>
    <% if(!md) { %><span class="ctrl-code ctrl active">code</span><% } %>
